.container {
width: 1000px;
height: 1024px;
border: 2px solid black;
background-color: rgba(22, 113, 231, 0.753);
z-index: -2;
}

.snow {
    width: 1000px;
    height: 500px;
    position: relative;
    background-color: rgb(211, 211, 211);
    top: -276px;
    left: 0px;
    z-index: 1;
    
}

.snowball {
    width: 400px;
    height: 300px;
    background-color: snow;
    border-radius: 200px;
    position: relative;
    left: 420px;
    top: 500px;
    z-index: 4;
    border-color: rgb(255, 255, 255);
    box-shadow: 40px 30px 15px 5px;
}

.snowball2 {
    width: 300px;
    height: 300px;
    background-color: snow;
    border-radius: 200px;
    position: relative;
    left: 460px;
    top: 23px;
    z-index: 3;
    border-color: rgb(255, 255, 255);
    box-shadow: 40px 30px 15px 5px;
}

.snowball3 {
    width: 200px;
    height: 200px; 
    background-color: snow;
    border-radius: 100px;
    position: relative;
    top: -420px;
    left: 510px;
    z-index: 2;
    box-shadow: 40px 30px 15px 5px;
}

.coalbuttons {
    width: 25px;
    height: 25px;
    background-color: black;
    border-radius: 25px;
    position: absolute;
    left: 136px;
    top: 220px;
    z-index: 5;
}

.coalbuttons2 {
    width: 25px;
    height: 25px;
    background-color: black;
    border-radius: 25px;
    position: absolute;
    left: 136px;
    top: 140px;
    z-index: 5;
}

.coalbuttons3 {
    width: 25px;
    height: 25px;
    background-color: black;
    border-radius: 25px;
    position: absolute;
    left: 136px;
    top: 60px;
    z-index: 5;
}

.carrotnose {
    width: 0px;
    height: 0px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 60px solid orange;
    position: absolute;
    top: 80px;
    left: 40px;
}

.eye {
    width: 15px;
    height: 15px;
    background-color: black;
    border-radius: 15px;
    position: absolute;
    left: 60px;
    top: 50px;
}

.eye2 {
    width: 15px;
    height: 15px;
    background-color: black;
    border-radius: 15px;
    position: absolute;
    left: 120px;
    top: 50px;
}

.smile {
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 10px;
    position: absolute;
    left: 50px;
    top: 100px;
}

.smile2{
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 10px;
    position: absolute;
    left: 54px;
    top: 114px;
}

.smile3{
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 10px;
    position: absolute;
    left: 64px;
    top: 125px;
}

.smile4{
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 10px;
    position: absolute;
    left: 84px;
    top: 128px;
}

.smile5 {
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 10px;
    position: absolute;
    left: 104px;
    top: 126px;
}

.smile6 {
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 10px;
    position: absolute;
    left: 115px;
    top: 115px;
}
.smile7 {
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 10px;
    position: absolute;
    left: 119px;
    top: 101px;
}

.Rarm {
    width: 200px;
    height: 20px;
    background-color: rgb(163, 125, 76);
    position: absolute;
    top: 400px;
    left: 700px;
    z-index: 4;
    rotate: -40deg;
    scale: 0.95;
    translate: -20px -20px;
}

.Larm {
    width: 170px;
    height: 20px;
    background-color: rgb(163, 125, 76);
    position: absolute;
    top: 400px;
    left: 380px;
    z-index: 4;
    rotate: 40deg;
    scale: 0.95;
    translate: -20px -20px;
}

.lmitten {
    width: 20px;
    height: 100px;
    background-color: blue;
    border-radius: 50px;
    position: absolute;
    top: 290px;
    left: 380px;
    z-index: 5;
    rotate: 40deg;
}

.lmittentop {
    width: 120px;
    height: 100px;
    background-color: blue;
    position: relative;
    border-radius: 50px;
    left: -99px;
}

.rmitten {
    width: 20px;
    height: 100px;
    background-color: blue;
    border-radius: 50px;
    position: relative;
    left: 800px;
    top: -1000px;
    z-index: 5;
    rotate: -40deg;
}

.rmittentop {
    width: 120px;
    height: 100px;
    background-color: blue;
    border-radius: 50px;
}

.tophat {
    width: 150px;
    height: 100px;
    background-color: black;
    position: absolute;
    top: -110px;
    left: 25px;
}
.tophatr {
    width: 150px;
    height: 25px;
    background-color: rgb(255, 0, 0);
    position: absolute;
    top: 100px;
}

.tophatb {
    width: 200px;
    height: 25px;
    background-color: black;
    position: absolute;
    top: 120px;
    left: -20px;
}

.scarf {
    width: 100px;
    height: 100px;
    background-color: red;
    z-index: 1;
    border-radius: 100px;
    position: relative;
    top: -1100px;
    left: 460px
}

.scarf2 {
    width: 300px;
    height: 100px;
    background-color: red;
    z-index: 3;
    border-radius: 100px;
    position: relative;
    top: -1170px;
    left: 460px;
}